<ngb-carousel [showNavigationIndicators]="false" [interval]="slideInterval" [pauseOnHover]="true"
              class="text-center" [keyboard]="true">
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">Chapter 7 - Inheritance</h1>
      <br>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3"> Inheritance is the 2nd pillar of OOP </h1>
      <br>
      <img src="assets/images/four-pillars.png" class="image-sm">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3"> Super, Base or Parent Class </h1>
      <br>
      <img src="assets/images/inheritance.png" class="image-sm">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3"> Multi-level inheritance </h1>
      <br>
      <img src="assets/images/multi-level-inheritance.png" class="image-sm">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">Class Exercise: <code>Message</code> and <code>Greeting</code> class</h1>
      <br>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">Useful:
        <a href="https://chrome.google.com/webstore/detail/gliffy-diagrams/bhmicilclplefnflapjmnngmkkkkpfad?hl=en"> Gliffy Chrome Extension </a></h1>
      <br>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="container">
      <h1 class="display-1"> Abstract Class</h1>
      <br>
      <h3 class="display-4 text-left">
        <ul>
          <li>Base class cannot be instantiated</li>
          <li>Shared behavior: many common methods or fields shared among sub classes.</li>
          <li>non-static and non-final fields</li>
        </ul>
      </h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">Class Exercise: <code>Inheritance</code></h1>
      <br>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="container">
      <h1 class="display-1">Studio: <code>Inheritance</code></h1>
      <br>
      <h3 class="display-4 text-left">
        <ol>
          <li>Diagram the classes and relationship.</li>
          <li>Write Unit Tests: ensure each test has at least one assert statement.</li>
          <li>Code the Java classes according to design in step #1.</li>
          <li>Ensure each unit test passes!</li>
        </ol>
      </h3>
    </div>
  </ng-template>

</ngb-carousel>
