<div class="container">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="dropdown-menu-left">
        <button class="btn btn-outline-success btn-lg" id="dropdownBasic1" ngbDropdownToggle>Course Slides</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div class="text-center"><a href=""><h4>Intro</h4></a></div>
          <div class="text-center"><a href="/JavaLC101/intellij"><h4>IntelliJ Tips</h4></a></div>
          <div class="text-center"><a href="/JavaLC101/lesson2"><h4>Chapter 2</h4></a></div>
          <div class="text-center"><a href="/JavaLC101/lesson3"><h4>Chapter 3</h4></a></div>
          <div class="text-center"><a href="/JavaLC101/lesson4"><h4>Chapter 4</h4></a></div>
          <div class="text-center"><a href="/JavaLC101/lesson5"><h4>Chapter 5</h4></a></div>
          <div class="text-center"><a href="/JavaLC101/lesson6"><h4>Chapter 6</h4></a></div>
          <div class="text-center"><a href="/JavaLC101/lesson7"><h4>Chapter 7</h4></a></div>
          <div class="text-center"><a href="/JavaLC101/lesson8"><h4>Chapter 8</h4></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
