<div class="container">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="dropdown-menu-left">
        <button class="btn btn-outline-success btn-lg" id="dropdownBasic1" ngbDropdownToggle>Course Slides</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div class="text-center"><a href=""><h4>Intro</h4></a></div>
          <div class="text-center"><a href="/JavaLC101/intellij"><h4>IntelliJ Tips</h4></a></div>
          <div class="text-center"><a href="/JavaLC101/lesson2"><h4>2nd Lesson</h4></a></div>
          <div class="text-center"><a href="/JavaLC101/lesson3"><h4>3rd Lesson</h4></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
