<ngb-carousel [showNavigationIndicators]="false" [interval]="slideInterval" [pauseOnHover]="true"
              class="text-center" [keyboard]="true">
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">Chapter 8 - Inheritance Continued..</h1>
      <br>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">Polymorphism..</h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="container">
      <h1 class="display-1"><code>Inheritance</code></h1>
      <br>
      <h3 class="display-4 text-left">
        <ol>
          <li>Constants (that is, static final fields)</li>
          <li>Method signatures</li>
          <li>Static methods</li>
          <li>Default methods</li>
        </ol>
      </h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">You can only extend a single abstract class!</h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">But you can implement multiple interfaces!</h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">Interface example and Abstract class example</h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">Class exercise: Array of shapes!</h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="container">
      <h1 class="display-1">Studio: <code>Spinning Discs</code></h1>
      <br>
      <h3 class="display-4 text-left">
        <ol>
          <li>Fork the <a href="https://github.com/LaunchCodeEducation/java-web-dev-studio7">repository</a> and clone it!</li>
          <li>Pair up with someone!</li>
          <li>Take a look at the prepared CD and DVD classes in the starter code.</li>
          <li>Instance variables: title, capacity, encoding, releaseDate, weight, diameter, thickness, company</li>
          <li>Class-specific behaviors: <code>spinDisc()</code></li>
          <li>Code the interface and abstract class</li>
        </ol>
      </h3>
    </div>
  </ng-template>

</ngb-carousel>

