<ngb-carousel [showNavigationIndicators]="false" [interval]="slideInterval" [pauseOnHover]="true"
              class="text-center" [keyboard]="true">
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">Lesson 4 - Classes and Objects! </h1>
      <br>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide"> What is a Java Class? </h1>
      <br>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3"> Java Class </h1>
      <br>
      <img src="assets/images/bicycleClassExample.png" class="image-lg">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="container">
      <h1 class="text-center">Java Class </h1>
      <h1>
        <br>
        <ol class="text-left">
          <li><code>Fields</code> </li>
          <li><code>Constructor</code> </li>
          <li><code>Methods</code> </li>
        </ol>
      </h1>
      <br>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="title-slide">
      <h1 class="display-3"> What is a Java Object? </h1>
      <br>
      <h2 class="display-4">An <code>instance</code> of a class, that has both <code>state</code> and <code>behavior</code></h2>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="title-slide text-center">
      <h1 class="display-3"> Instatiation </h1>
      <br>
      <h2 class="display-4"><code>Bicycle giant = new Bicycle();</code></h2>
      <br>
      <img src="assets/images/objectInstatiation.png" class="image-lg">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide"> Name some real world object(s) </h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="container">
      <h1 class="text-center">Java Classes</h1>
      <h1>
        <br>
        <ol class="text-left">
          <li><code>Modularity</code> </li>
          <li><code>Information-hiding</code> </li>
          <li><code>Code re-use</code> </li>
          <li><code>Pluggability</code> and Debugging Ease!</li>
        </ol>
      </h1>
      <br>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide"> Assignment #1 is due soon! </h1>
    </div>
  </ng-template>
</ngb-carousel>
