<ngb-carousel [showNavigationIndicators]="false" [interval]="slideInterval" [pauseOnHover]="true"
              class="text-center" [keyboard]="true">
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">Lesson 9 - <b><code>SPRING MVC!</code></b></h1>
      <br>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">What is a software design pattern?</h1>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="container">
        <blockquote class="blockquote title-slide"><h1>In Object-Oriented Programming, the way to solve a real-world problem, that has already been solved a number of times before!</h1></blockquote>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div>
      <br>
      <h2 class="display-3">
        (Conceptualize) A Bridge is a software design pattern...
        <img src="assets/images/suspensionBridge.jpg" class="image-sm">
      </h2>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div>
      <br>
      <h2 class="display-3">
        (Conceptualize)  Here's a strategy design pattern...
        <img src="assets/images/strategyDesignPattern.jpeg" class="image-sm">
      </h2>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div>
      <br>
      <h2 class="display-3">
        Fast-forward to the MVC Design Pattern
        <img src="assets/images/SFdgC.png" class="image-sm">
      </h2>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div>
      <br>
      <h2 class="display-3">
        MVC Design pattern continued...
        <img src="assets/images/modelViewController.jpg" class="image-sm">
      </h2>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">MVC is very commonly used for all kinds of apps!</h1>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">But! Can MVC be used to build a Web Site? </h1>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">Java says "Yes We Can!"</h1>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div>
      <h1 class="display-3">Enter </h1>
      <img src="assets/images/springMvc.png" class="image-sm">
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">What is Spring Initializr? </h1>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">Class exercise: A Spring MVC Application!</h1>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="container">
      <h1 class="display-1">Studio: <code>Skills Tracker</code></h1>
      <br>
      <h3 class="display-4 text-left">
        <ol>
          <li>Let's create a skills tracker web app!</li>
          <li>Create a new Spring App using the Spring Initializr</li>
          <li>Three possible programming languages someone could be working on: Java, JavaScript and Python </li>
          <li>Add a simple form</li>
          <li>
            <img src="assets/images/skillsTrackerMainPage.png" class="image-lg">
          </li>
          <li>
            <img src="assets/images/formFields.png" class="image-lg">
          </li>
          <li>
            <img src="assets/images/finalResult.png" class="image-lg">
          </li>
        </ol>
      </h3>
    </div>
  </ng-template>

</ngb-carousel>

