<ngb-carousel [showNavigationIndicators]="false" [interval]="slideInterval" [pauseOnHover]="true"
              class="text-center" [keyboard]="true">
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide">Chapter 6 - JUnit, Java Unit Testing </h1>
      <br>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide"> Why test? </h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h2 class="display-3"> Why test? </h2>
      <br>
      <h1>
        <ul>
          <li>Check whether your program works as intended.</li>
          <li>More confidence in your code.</li>
          <li>Better documentation.</li>
        </ul>
      </h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h2 class="display-3"> 3 AAA's of Testing </h2>
      <br>
      <h1>
        <ul>
          <li>Arrange the variables your test requires</li>
          <li>Act on the methods your test requires</li>
          <li>Assert comparison of expected and actual values</li>
        </ul>
      </h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide"> Deterministic! A test sould pass every time! </h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide"> Meaningful - No need to test generated code! </h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide"> Annotations </h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h2 class="display-3"> Annotations </h2>
      <br>
      <h1>
        <ul>
          <li><code>@Test</code></li>
          <li><code>@Before</code></li>
          <li><code>@After</code></li>
        </ul>
      </h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h2 class="display-3"> Common Assertion Methods </h2>
      <br>
      <h1>
        <ul>
          <li><code>assertEquals(expected, actual, optional_delta)</code></li>
          <li><code>assertFalse(condition)</code></li>
          <li><code>assertTrue(condition)</code></li>
          <li><code>assertNotNull(object)</code></li>
        </ul>
      </h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide"> Exercise - Let's write some tests! </h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div>
      <h1 class="display-3 title-slide"> Class Studio! </h1>
    </div>
  </ng-template>
</ngb-carousel>
